<nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="height : 110px">
    <div class="container mb-2">
        <a href="#home"><img src="~/Logo/KMpng.png" height="94" width="259" /></a>

        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target=".navbar-collapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav mr-auto">
    
                <li class="nav-item">@Html.ActionLink("Online Recharge", "Payment", "Home", null, new { @class = "nav-link" })</li>
                <li class="nav-item">@Html.ActionLink("Post Bill Payment", "PostPaid", "Home", null, new { @class = "nav-link" })</li>
                <li class="nav-item">@Html.ActionLink("Contact Us", "ContactUs", "Home", null, new { @class = "nav-link" })</li>
                <li class="nav-item">@Html.ActionLink("My Account", "Member", "Home", null, new { @class = "nav-link" })</li>
                <li>
                    <div class="container h-100">
                        <div class="d-flex justify-content-center h-100">
                            <div class="searchbar">
                                <input class="search_input" type="text" name="" placeholder="I am looking for...    ">
                                <a href="#" class="search_icon"><i class="fa fa-search"></i></a>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
            @*@Html.Partial("_LoginPartial")*@
        </div>
    </div>
</nav>