
@{
    ViewBag.Title = "MyAccount";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-lg-3 justify-content-between px-0" id="header">
        <nav class="navbar navbar-expand-lg navbar-light d-flex flex-column px-0">
            <div id="m-navbar-brand" class="text-center">
                <a class="navbar-brand m-0 p-2" href="assets/img/profile.jpg" data-toggle="lightbox">
                    <img src="~/Logo/profile.jpg" alt="" class="rounded-circle img-fluid mx-auto mb-3">
                    <h2 class="h5">Aatif Mahmood</h2>
                    <h1 class="h6">Full Stack Web Developer</h1>
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
            <div id="m-navbar-menu" class="w-100">
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav d-flex flex-column w-100">
                        <li class="nav-item active">
                            <a class="nav-link font-weight-bold" href="#"><i class="fa fa-edit"></i> Profile</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link font-weight-bold" href="#"><i class="fa fa-cogs"></i> Service</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link font-weight-bold" href="#"><i class="fa fa-history"></i> Transaction History</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    <link href="~/Content/Profile-Edit-Form-1.css" rel="stylesheet" />
    <link href="~/Content/Profile-Edit-Form.css" rel="stylesheet" />
    <div class="col-lg-9">
        <div class="container profile profile-view" id="profile">
            <div class="row">
                <div class="col-md-12 alert-col relative">
                    <div class="alert alert-info absolue center" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                        <span>Profile save with success</span>
                    </div>
                </div>
            </div>
            <form>
                <div class="form-row profile-row">
                    <div class="col-md-4 relative">
                        <div class="avatar">
                            <div class="avatar-bg center"></div>
                        </div><input type="file" class="form-control-file" name="avatar-file">
                    </div>
                    <div class="col-md-8">

                        <div class="form-group">
                            <label class="font-weight-bold">Fullname </label>
                            <input class="form-control" type="text" name="fullname">
                        </div>

                        <div class="form-group">
                            <label class="font-weight-bold">Phone </label>
                            <input class="form-control" type="tel" disabled>
                        </div>

                        <div class="form-group">
                            <label class="font-weight-bold">Email </label>
                            <input class="form-control" type="email" disabled>
                        </div>

                        <hr>
                        <div class="form-row">
                            <div class="col-md-12 content-right"><button class="btn btn-primary form-btn" type="submit">SAVE </button><button class="btn btn-danger form-btn" type="reset">CANCEL </button></div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
