@model Data.Member


<div class="register-photo">
    <div class="form-container">
        <div data-aos="slide-up" data-aos-duration="1200" class="image-holder"></div>
        <form method="post" data-aos="slide-down" data-aos-duration="1200" data-aos-delay="100" data-aos-once="true">
            <h2 class="text-center"><strong>Create</strong> an account.</h2>
            <div class="form-group">
                <input class="bg-white border rounded border-primary shadow form-control" type="email" name="Phone" required="" placeholder="Phone number" maxlength="11" minlength="10" autofocus="" inputmode="numeric" data-aos="slide-right" data-aos-duration="1200"
                       data-aos-delay="200">
            </div>
            <div class="form-group">
                <input class="bg-white border rounded border-primary shadow form-control" type="email" name="Email" required="" placeholder="Email" maxlength="11" minlength="10" autofocus="" inputmode="email" data-aos="slide-left" data-aos-duration="1200"
                       data-aos-delay="300">
            </div>
            <div class="form-group"><input class="bg-white border rounded border-primary shadow form-control" type="password" name="password" required="" placeholder="Password" minlength="6" data-aos="slide-right" data-aos-duration="1200" data-aos-delay="400"></div>
            <div class="form-group"><input class="bg-white border rounded border-primary shadow form-control" type="password" name="password-repeat" placeholder="Password (repeat)" minlength="6" data-aos="slide-left" data-aos-duration="1200" data-aos-delay="500"></div>
            <div class="form-group">
                <div class="form-check" data-aos="slide-right" data-aos-duration="1200" data-aos-delay="600"><label class="form-check-label text-monospace"><input class="form-check-input" type="checkbox">I agree to the license terms.</label></div>
            </div>
            <div class="form-group"><button class="btn btn-primary btn-block" type="submit" data-bs-hover-animate="pulse">Sign Up</button></div><a href="#" data-aos="zoom-in" data-aos-duration="1200" data-aos-delay="750" class="already" style="font-size: 16px;"><strong>You already have an account? <span style="text-decoration: underline;">Login here.</span></strong></a>
        </form>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
