<div class="jumbotron">
    <h1>eProject 3 - Mobile Service</h1>
    <p class="lead"><strong>Initialize API successfully.</strong> At here you can Test Connect Database OK or Not OK</p>
    <p><a href="@Url.Action("Index", "Help")" class="btn btn-success btn-lg">Click here to TEST &raquo;</a></p>
</div>
<h2>Group 04.</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <h3>Nguyen Hoang Anh Khoa<br />(Leader)</h3>
        <p>About You</p>
        <p><a class="btn btn-primary" href="https://www.facebook.com/binner9225" target="_blank">Profile &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h3>Tran Thi Huyen My <br />(Member)</h3>
        <p>About You</p>
        <p><a class="btn btn-primary" href="https://www.facebook.com/hyun.mi.19" target="_blank">Profile &raquo;</a></p>
    </div><div class="col-md-4">
    <h3>Do Huu Minh Man <br />(Member)</h3>
    <p>About You</p>
    <p><a class="btn btn-primary" href="https://www.facebook.com/MinhMan2411" target="_blank">Profile &raquo;</a></p>
</div>
</div>
