@model Data.Bill
<h2>Bill Info</h2>
<div class="text-white">
    @if (@TempData["Phone"] != null)
    {
        <strong>Phone Number</strong>
        <p>@TempData["Phone"].ToString()  ABC</p>
        <strong>Amount</strong>
        <p>@TempData["Amount"].ToString()</p>
    }

</div>
